


<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

    <div class="main">
      <div class="prayer-timetable">
        <form id="theForm">
        
        <ul class="prayer-date">
          <li><p><h2>Prayer times in Oakland, CA</h2><div class='currentconvention'>North America (ISNA)</div></p></li>
          <li class="monthpicker" title="Get prayer times for another date">
                <input name="date" type="text" class="datepicked">
                <span class="icon-cal"></span>
                <span class="display-month">March 2018</span>
          </li>
        </ul>
        <table class="prayer-times">
          
          
            <tr>
          
            
            
            <td class="prayertime"></td>
            
            
            
            
            
            <td class="prayertime">Fajr</td>
            
            
            
            <td class="prayertime">Sunrise</td>
            
            
            
            <td class="prayertime">Dhuhr</td>
            
            
            
            <td class="prayertime">Asr</td>
            
            
            
            <td class="prayertime">Maghrib</td>
            
            
            
            <td class="prayertime">Isha'a</td>
            
            
         </tr>
         
          
            <tr>
          
            
            
            <td class="prayertime">Thu 1 Mar</td>
            
            
            
        
            <td class="prayertime">05:29</td>
            
            
            
            <td class="prayertime">06:41</td>
            
            
            
            <td class="prayertime">12:21</td>
            
            
            
            <td class="prayertime">15:33</td>
            
            
            
            <td class="prayertime">18:02</td>
            
            
            
            <td class="prayertime">19:14</td>
            
            
         </tr>
       </table>

</body>
</html>







<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--    <title>PrayerTimes</title>-->
<!--</head>-->
<!--    <h2>PrayerTimes in Oakland, CA</h2>-->
<!--<body>-->

<!--       <form action="/Ptime" method="POST">-->

<!--            <input type="text" name="ptime" placeholder="Seacrch"></button>-->


<!--           <div container>-->
<!--            <ul>-->
<!--                <li id="dhur"><a href="#">Dhur: </a></li>-->
<!--                <li id="asr"><a href="#">Asr: </a></li>-->
<!--                <li id="maghrib"><a href="#">Maghrib: </a></li>-->
<!--                <li id="isha"><a href="#"></a>Isha: </li>-->
<!--                <li id="fajr"><a href="#"></a>Fajr: </li>-->
<!--                <li id="sunrise"><a href="#"></a>SunRise: </li>-->
<!--            </ul>    -->
<!--            </div>-->
<!--        </form>-->
<!--</body>-->
<!--</html>-->